<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"    
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="UTF-8"/>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	/>
	
	<link rel="icon" 
      type="image/png" 
      href="/views.images/TooPotsGreen.png" />

<!-- app css  -->
<!-- <link th:href="@{/css/natacio.css}" href="/css/natacio.css" -->
<!-- 	rel="stylesheet"/> -->

<title layout:title-pattern="$CONTENT_TITLE">TooPots</title>
</head>

<body >
	<header class="page-header">
		<h1>TooPots</h1>
	</header>
	<div th:replace="fragments/nav"></div>
	<div th:replace="fragments/logininfo"></div>
	<div layout:fragment="content"></div>
<!-- 	<footer> -->
<!-- 		<hr> -->
<!-- 		<p class="text-muted">EI1027 - Disseny i Implementació de -->
<!-- 			Sistemes d'Informació</p> -->
<!-- 	</footer> -->
<br><br><br><br>
<div>
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Ubicación</h4>
          <p class="lead mb-0">Avda. Valencia, 53 
            <br>12540 Castellón, España</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Información de Contacto</h4>
          <p class="lead mb-0">+34 654 34 56 76 <br>
            <a href="http://startbootstrap.com">info@toopots.com</a></p>
            <a href="instructorRequest/add">Trabaja con nosotros</a></p>
            
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; GUPARI 2019</small>
    </div>
  </section>	
	
	
</div>
	
</body>
</html>
