<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear un nuevo tipo de actividad</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nuevo tipo de actividad</h2>
    <form action="#" th:action="@{/activityType/add}" 
                     th:object="${activityType}" method="post"> 
      <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{typeName}" /></td> 
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descriptionActType}" /></td>
        </tr>
        <tr>
            <td><label>Nivel</label></td>
            <td><input type="text" th:field="*{level}" /></td>
        </tr>
        
       
        <tr>
            <td colspan="2"><input type="submit" value="Añade tipo de actividad" /></td>
        </tr>
      </table>
    </form>
</body>
</html>