<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar tipos de actividades</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Listado de tipos de actividades</h1>
   <table class="table table-striped">
     <thead>
       <tr>
       	<th>Nombre</th>
         <th>Descripcion</th>
         <th>Nivel</th>
   		 
       </tr>
     </thead>
     <tbody>
       <tr th:each="activityType: ${activityTypes}"> 
         <td th:text="${activityType.typeName}"></td>
         <td width=40% th:text="${activityType.descriptionActType}"></td>
         <td th:text="${activityType.level}"></td>
         
		<td><button type="button" class="btn btn-warning" ><a th:href="@{/activityType/update/{typeName}/{level}(typeName=${activityType.typeName},level=${activityType.level})}"><font color="black">Editar</font></a></button>
			</td>
 			<td><button type="button" class="btn btn-danger"><a th:href="@{/activityType/delete/{typeName}/{level}(typeName=${activityType.typeName},level=${activityType.level})}"><font color="white">Borrar</font></a></button> 
			</td>
		</tr>
	</tbody>
   </table>
    <button type="button" class="btn btn-success"><a href="add"><font color="white">Añade nuevo tipo de actividad</font></a></button>
</body>
</html>

