<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Missatge d'excepció</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
   <div class="alert" th:classappend= "${#strings.equals(name,'ClauPrimariaDuplicada')}? 'alert-danger' : 'alert-info'">  
       <h3 th:text="${message}"></h3> 
       <p>Pulsa el boton para ir al inicio o el boton del navegador para ir hacia atrás</p>
   </div>
   <div th:align="center" >
       <a href="/" class="btn btn-primary" th:align="left">Inicio</a>
   </div>
</div>
</body>
</html>