
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Llista d'usuaris del sistema</title>

<meta charset="UTF-8"/>
<!-- Afegim una fulla d'estil (Bootstrap) -->
<link rel="stylesheet"   
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/natacio.css" 
                                    th:href="@{/css/natacio.css}"/>
                                    
<style type="text/css">
.loggeduser { 
	color: gray;				
	text-align: right;
margin-right: 10pt;
}

</style>
</head>

<body>
	<h1>Llista d'usuaris del sistema</h1>
	<div th:replace="fragments/logininfo" >...</div>
	
<!--     <div th:if="${#lists.isEmpty(culo)}"> -->
<!--        No hayy usuarios -->
<!--     </div> -->
<!--     <table th:unless="${#lists.isEmpty(usuario)}"  class="table table-condensed"> -->
      <table class="table table-striped">
     <thead>
       <tr>
         <th>Username:</th>
         <th>Tipo: </th>
<!--           Buscar hacerlo bonito rojo/vere -->
       </tr>
     </thead>
     <tbody>
       <tr th:each="user: ${usuario}"> 
         <td th:text="${user.nid}"></td>
     	 <td th:text="${user.type}"></td>
     	 
       </tr>       
     </tbody>
   </table>
    <a href="/" class="btn btn-primary" role="button">Tornar</a>
</body>
</html>


