<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<style>



  table{ 
   background-color: #1ABC9C; 
   border-radius: 20px ; 
   margin-top:5%; 
   margin-bottom: 10% 
  
  } 
  

  
  title{
  margin-bottom: 20px
  }
  input, select {
            width: 200px;
            padding: 0;
            margin: 0;
            height: 25px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
   
   
         
 
    
  </style>
<head>
   <title>Crear nuevo cliente</title>
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="/instructorView.css/freelancer.min.css" rel="stylesheet">
   <meta charset="UTF-8" />
   
</head>


<body id="page-top">
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Toopots</a>
     
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/customer/add">Registro</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/login">Iniciar sesion</a>
          </li>
     
        </ul>
      </div>
    </div>
  </nav>
  
	<br><br><br><br>
	
	<!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

 <br> <br>
      <!-- Portfolio Section Heading -->
      <br><br>
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Registro</h2>
	
      </div>
      </section>
      

    <form action="#" autocomplete="off" th:action="@{/customer/add}" 
                     th:object="${customer}" method="post"> 
                     <input autocomplete="off" name="hidden" type="text" style="display:none;">
     
     
      <table style="width:40%" align=center >
      
      
      <thead align="center">
      
     
     
      
 
    </thead>
      <tbody >
    
        <tr>
            <td class="lead text-white" align="center"><label><br>DNI: </label></td>
            <td class="lead text-white" align="center"><br><input type="text" th:field="*{nid}" /></td> 
        </tr>
        <tr>
            <td class="lead text-white" align="center"><label>Nombre: </label></td>
            <td  class="lead text-white" align="center"><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"/></td> 
        </tr>
        <tr>
        <td class="lead text-white" align="center"><label>Sexo: </label></td>
            <td class="lead text-white" align="center"><select id="gender" th:field="*{gender}">
            <option th:value="H"> Hombre </option>
            <option th:value="M"> Mujer </option>
            </select>
            </td>
            
          
        </tr>
        <tr>
            <td class="lead text-white" align="center"><label>Email: </label></td>
            <td align="center"><input type="text" autocomplete="off" th:field="*{email}" /></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"/></td> 
        </tr>
        
        <tr>
            <td class="lead text-white" align="center"><label>Contraseña: </label></td>
            <td align="center"><input type="password" autocomplete="off" th:field="*{password}" /></td>
             
        </tr>
        
        <tr>
            <td class="lead text-white" align="center"><label>Repite la contraseña: </label></td>
            <td align="center"><input type="password" autocomplete="off" th:field="*{repeat}" /></td>
            <td th:if="${#fields.hasErrors('repeat')}" th:errors="*{repeat}" class="error"/></td> 
       </tr>
        

  
     <br>
          <td align="center" colspan="2" ><button type="submit" value="Registrar" class="btn btn-xl btn-outline-light"  >
         <font color="white">Registrar</font></a></button><br><br>
         </td>
         
         
      
   
      
      
        </tbody>
       
      </table>
     
    </form>

  <!-- Footer -->
  <footer class="footer text-center" id="page-top">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Ubicación</h4>
          <p class="lead mb-0">Avda. Valencia, 53 
            <br>12540 Castellón, España</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Información de Contacto</h4>
          <p class="lead mb-0">+34 654 34 56 76 <br>
            <a href="http://startbootstrap.com">info@toopots.com</a></p>
            <a href="/instructorRequest/add">Trabaja con nosotros</a></p>
            
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; GUPARI 2019</small>
    </div>
  </section>


</body>
</html>