<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Reservas Realizadas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Reservas Realizadas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
       	<th>Data reserva</th>
         <th>Estado</th>
         <th>Numero de personas</th>
   		 <th>Numero de transaccion</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="reservation: ${reservations}"> 
         <td th:text="${reservation.bookingDate}"></td>
         <td th:text="${reservation.state}"></td>
         <td th:text="${reservation.numberOfPeople}"></td>
         <td th:text="${reservation.transactionNumber}"></td>
         <td><button type="button" class="btn btn-primary" ><a th:href="@{/reservation/confirm/{bookingNumber}(bookingNumber=${reservation.bookingNumber})}"><font color="white">Confirmar</font></a></button>
         <td th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}" class="error"/></td> 
         </td>
         <td><button type="button" class="btn btn-danger"><a th:href="@{/reservation/deleteConfirm/{bookingNumber}(bookingNumber=${reservation.bookingNumber})}"><font color="white">Esborra</font></a></button>
         </td>
       </tr>
     </tbody>
   </table>
   </body>
</html>