<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <title>EI1027</title> -->
<!-- <meta charset="UTF-8"/> -->
<!-- <link rel="stylesheet"      -->
<!--      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h1>VISTA ADMIN </h1> -->
<!-- 	<ul> -->
<!-- 	<li><a href="activity/list">Revisar i acceptar o rebutjar sol·licituds de registre de monitors.</a></li> -->
<!-- 	<p>TooPots haurà de generar una ordre per al servidor de correu per a que aquest envie un mail al monitor informant-li  si la seua sol·licitud ha sigut aceptada o no.</p> -->
<!-- 	<p>Consultar els documents que els monitors adjunten en les sol·licituds per a acreditar les seues capacitats.</p> -->
<!-- 	<li><a href="customer/list"> -->
<!-- Gestionar informació del tipus d’activitats i nivells que es poden oferir.</a></li> -->
<!-- 	<li><a href="reservation/list">Assignar els tipus d’activitats a cada monitor tenint en compte les certificacions aportades.</a></li> -->
<!-- 	<li><a href="instructor/list">Consultar informació sobre monitors donats d’alta,</a></li> -->
<!-- 	<li><a href="instructorRequest/list">Consultar informació sobre clients</a></li> -->
<!-- 	<li><a href="activityType/list">Consultar informació sobre activitats (reservades y contractades filtro)</a></li> -->

<!-- 	</ul> -->
<!-- </body> -->
<!-- </html> -->




<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <title>EI1027</title> -->
<!-- <meta charset="UTF-8"/> -->
<!-- <link rel="stylesheet"      -->
<!--      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<h1>VISTA CUSTOMER </h1> -->
<!-- 	<ul> -->
<!-- 	<li><a href="activity/list"> Consultar l’oferta d’activitats </a></li> -->
<!-- 	<p>indicar la informació requerida en cada cas, nombre de persones,  edats, etc.</p> -->
<!-- 	<li><a href="customer/list"> MIS ACTIVIDADES </a></li> -->
<!-- 	<p>En aquest cas TooPots es connectarà a la PPS contractada per a validar que el client proporciona dades correctes per a efectuar el pagament posterior. </p> -->
<!-- 	<p>Confirmar la reserva.  </p> -->
<!-- 	<p>Cancel·lar les activitats reservades fins a 10 dies abans de la seua realització sense cap càrrec. </p> -->
<!-- 	<button type="button" class="btn btn-primary" ><a href="/activity/list">Ver actividades</a></button> -->
<!-- 	</ul> -->
<!-- </body> -->
<!-- </html> -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TooPots</title>

  <!-- Custom fonts for this theme -->
<!--   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="/instructorView.css/freelancer.min.css" rel="stylesheet">
  

</head>

<body id="page-top">
	<div layout:fragment="content" align="right">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  
    <div class="container">
    
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TooPots</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
   
  </nav>

  

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">



      <!-- Portfolio Grid Items -->
      <div class="row">
      
      <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/instructorRequest/list}"><img class="img-fluid" src="/views.images/admin_verSolicitudesRegistro.jpg" alt=""></a>
          
          </div>
        </div>

<!--         Portfolio Item 1 -->
       <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/instructor/list}"><img class="img-fluid" src="/views.images/admin_verMonitores.png" alt=""></a>
          
          </div>
        </div>
        <!-- Portfolio Item 2 -->
       <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/customer/list}"><img class="img-fluid" src="/views.images/admin_verClientes.png" alt=""></a>
          
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/activity/list}"><img class="img-fluid" src="/views.images/admin_verActividades.png" alt=""></a>
          
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/activityType/list}"><img class="img-fluid" src="/views.images/admin_tiposActs.png" alt=""></a>
          
          </div>
        </div>
        
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" >
<!--             <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"> -->
<!--               <div class="portfolio-item-caption-content text-center text-white"> -->
<!--                 <i class="fas fa-plus fa-3x"></i> -->
<!--               </div> -->
<!--             </div> -->
            <a th:href="@{/activity/list}"><img class="img-fluid" src="/views.images/admin_ingresos.png" alt=""></a>
          
          </div>
        </div>


        <!-- Portfolio Item 4 -->
        


    </div>
  </section>


  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  
 </div>
</body>

</html>








