<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h1>VISTA ADMIN </h1>
	<ul>
	<li><a href="activity/list">Revisar i acceptar o rebutjar sol·licituds de registre de monitors.</a></li>
	<p>TooPots haurà de generar una ordre per al servidor de correu per a que aquest envie un mail al monitor informant-li  si la seua sol·licitud ha sigut aceptada o no.</p>
	<p>Consultar els documents que els monitors adjunten en les sol·licituds per a acreditar les seues capacitats.</p>
	<li><a href="customer/list">
Gestionar informació del tipus d’activitats i nivells que es poden oferir.</a></li>
	<li><a href="reservation/list">Assignar els tipus d’activitats a cada monitor tenint en compte les certificacions aportades.</a></li>
	<li><a href="instructor/list">Consultar informació sobre monitors donats d’alta,</a></li>
	<li><a href="instructorRequest/list">Consultar informació sobre clients</a></li>
	<li><a href="activityType/list">Consultar informació sobre activitats (reservades y contractades filtro)</a></li>

	</ul>
</body>
</html>





