<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h1>VISTA CUSTOMER </h1>
	<ul>
	<li><a href="activity/list"> Consultar l’oferta d’activitats </a></li>
	<p>indicar la informació requerida en cada cas, nombre de persones,  edats, etc.</p>
	<li><a href="customer/list"> MIS ACTIVIDADES </a></li>
	<p>En aquest cas TooPots es connectarà a la PPS contractada per a validar que el client proporciona dades correctes per a efectuar el pagament posterior. </p>
	<p>Confirmar la reserva.  </p>
	<p>Cancel·lar les activitats reservades fins a 10 dies abans de la seua realització sense cap càrrec. </p>
	<button type="button" class="btn btn-primary" ><a href="/activity/list">Ver actividades</a></button>
	</ul>
</body>
</html>







