<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h1>VISTA HOME </h1>
	<ul>
	<li><a href="activity/list">Sol·licitar el registre com a monitors .</a></li>
	
	<li><a href="activity/list">Sol.licitar registre com a usuari.</a></li>
	<p>El servidor de correu els envia un e-mail amb el seu usuari i pwd si s’accepta la seua sol·licitud. .</p>
	
	<li><a href="customer/list">
Accedir en la plataforma .</a></li>
	<li><a href="reservation/list">Consultar l’oferta d’activitats.</a></li>
	<p>registrar-se si volen reservar una activitat o rebre informació.</p>
	
	

	</ul>
</body>
</html>