<!DOCTYPE html>
<html>
<head>
<title>EI1027</title>
<meta charset="UTF-8"/>
<link rel="stylesheet"     
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
	<h1>VISTA INSTRUCTOR </h1>
	<ul>
	<li><a href="activity/list">actualitzar el seu perfil per a incloure foto o dades relacionades en la seua activitat.</a></li>
	<li><a href="customer/list">
Crear activitats per a les que estan qualificats i modificar o anul·lar les creades.</a></li>
<p>  S’ha de avaluar i proposar què fer si es cancel·la una activitat per a la qual ja hi ha reserves de clients. </p>
<p> Cancel·lar una activitat per motius diversos, com per exemple l’oratge o malaltia.</p>
<p> Tancar una activitat a noves reserves </p>
	<li><a href="reservation/list">LISTADO DE RESERVAS</a></li>
	<p> Acceptar les reserves de clients per a una activitat. </p>
	<p> Consultar la informació detallada de les seues reserves de clients. </p>
	<p> Consultar reserves per tipus i data i imports cobrats per les activitats confirmades. </p>

	
	</ul>
</body>
</html>







 
 