<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear peticion de monitor</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     
     
         <style>
	body{
		background-color: #E0FFFF
	}
	
	h2{
    
    text-align: center; 
    background-color: #1E90FF;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }
     table{
    
    background-color: #87CEFA;
    border-radius: 20px ;
    margin-top:20px;
    margin-bottom: 20px;
    
  }
  td{
    align: left;
    margin-left: 20px;
  }
  
  .box {
        height: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 100px;
    }
  
</style>

</head>
<body>
    <h2>Nueva Reserva</h2>
    <form action="#" th:action="@{/reservation/add/{idActivity}(idActivity=${activity.idActivity})}" 
                     th:object="${reservation}" method="post" enctype="multipart/form-data"> 
      <table align=center cellpadding="20">
       
       
       	<tr>
   		<td> <label>Identificador de la actividad:</td>
	  	<td>
        	<select id="activityTypeRequest"}>
        		
       			<option th:each="element : ${activity}"
               		th:value="${element.idActivity}"
               		th:text="${element.idActivity}"></option>
   			</select>
   			</td>
		</tr>    
    <tr> 
	  <td align="center">Nombre actividad:</td>
	  <td th:text="${activity.activityName}" align="center"></td>
	</tr> 
        
        <tr>	
   			<td><label>Cantidad de personas: </label></td>
   			<td><input type="number" step="1" th:field="*{numberOfPeople}" /></td>
   			<td th:if="${#fields.hasErrors('numberOfPeople')}" th:errors="*{numberOfPeople}" class="error"/></td> 
   			
   		</tr> 
      
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix reserva" /></td>
        </tr>
      </table>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     	layout:decorate="~{fragments/base}">

<style>
 table{ 
   background-color: #1ABC9C; 
   border-radius: 20px ; 
   margin-top:5%; 
   margin-bottom: 10% 
  
  } 
  </style>
  
<head>
<link rel="icon" 
      type="image/png" 
      href="/views.images/TooPotsGreen.png" />
      

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Solicitud Monitor</title>

<!--   Custom fonts for this theme -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!--   Theme CSS -->
  <link href="/instructorView.css/freelancer.min.css" rel="stylesheet">
  

</head>


<body id="page-top">
<div layout:fragment="content" align="right">	

<!--   Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/customer/view">Toopots</a>
     
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<!--         Menu -->
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
  
      </div>
    </div>
  </nav>
  
 	<!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

      <!-- Portfolio Section Heading -->
      <br><br>
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Nueva Reserva</h2>
	
      </div>
      </section>
      
  
  
  
  <form action="#" autocomplete="off" th:action="@{/reservation/add/{idActivity}(idActivity=${activity.idActivity})}" 
                     th:object="${reservation}" method="post" enctype="multipart/form-data"> 
                    
     
     
      <table class="table table-striped" style="width:80%; background-color: #1ABC9C; 
   border-radius: 20px ; 
   margin-top:5%; 
   margin-bottom: 10%" align=center >
      
      
      
    
      <tbody >
   
   
         
         
<!--          <tr> -->
<!--    		<td class="lead text-white" align="center"> <label>Identificador de la actividad:</td> -->
<!-- 	  	<td class="lead text-white" align="center"> -->
<!--         	<select id="activityTypeRequest" hidden> -->
        		
<!--        			<option th:each="element : ${activity}" -->
<!--                		th:value="${element.idActivity}" -->
<!--                		th:text="${element.idActivity}" hidden></option> -->
<!--    			</select> -->
<!--    			</td> -->
<!-- 		</tr>     -->
    <tr> 
	  <td class="lead text-white" align="center">Nombre actividad:</td>
	  <td class="lead text-white" align="center" th:text="${activity.activityName}" ></td>
	</tr> 
        
        <tr>	
   			<td class="lead text-white" align="center">Cantidad de personas: </td>
   			<td class="lead text-white" align="center"><input type="number" value="1" min="1" max="10"  step="1" th:field="*{numberOfPeople}" /></td>
<td align="center" th:if="${#fields.hasErrors('numberOfPeople')}" th:errors="*{numberOfPeople}" class="error"/></td> 
   			
   		</tr>
         
     
     
     <br><br>
		<tr>
          <td align="center" colspan="2" >
          	<a><button type="submit" value="Enviar petición" class="btn btn-xl btn-outline-light">
         	<font color="white">Reservar</font></a></button>
         	<br><br>
         </td>
         </tr>
  
      

      
      
        </tbody>
       
      </table>
      
      <select id="activityTypeRequest" hidden>
        		
       			<option th:each="element : ${activity}"
               		th:value="${element.idActivity}"
               		th:text="${element.idActivity}" hidden></option>
   			</select>
     
    </form>
    
    <br><br>
  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Ubicación</h4>
          <p class="lead mb-0">Avda. Valencia, 53 
            <br>12540 Castellón, España</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Información de Contacto</h4>
          <p class="lead mb-0">+34 654 34 56 76 <br>
            <a href="http://startbootstrap.com">info@toopots.com</a></p>
            <a href="/instructorRequest/add">Trabaja con nosotros</a></p>
            
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; GUPARI 2019</small>
    </div>
  </section>
    
    
</div>
</body>
</html>







