<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Monitors</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
   <h1>Llista de Monitors</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Estado</th>
<!--           Buscar hacerlo bonito rojo/vere -->
         <th>Fecha de aceptación</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="instructor: ${instructors}"> 
         <td th:text="${instructor.name}"></td>
     	 <td th:text="${instructor.state}"></td>
     	 <td th:text="${instructor.acceptanceDate}"></td>
		
		<td><button type="button" class="btn btn-primary" ><a th:href="@{/instructor/delete/{nid}(nid=${instructor.nid})}"><font color="white">Ver</font></a></button></td>
    <td><button type="button" class="btn btn-warning" ><a th:href="@{/instructor/delete/{nid}(nid=${instructor.nid})}"><font color="black">Editar</font></a></button></td>
  	<td><button type="button" class="btn btn-danger"><a th:href="@{/instructor/delete/{nid}(nid=${instructor.nid})}"><font color="white">Baja</font></a></button>
          </td> 
       </tr>
     </tbody>
   </table>
</body>
</html>
