<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Monitors</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   
</head>

<body>
   <h1>Llista de Monitors</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Estado</th>
<!--           Buscar hacerlo bonito rojo/vere -->
         <th>Fecha de aceptación</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="instructor: ${instructors}"> 
         <td th:text="${instructor.name}"></td>
     	 <td th:text="${instructor.state}"></td>
     	 <td th:text="${#temporals.format(instructor.acceptanceDate,'dd/MM/yyyy')}"></td>
		
		<td><button type="button" class="btn btn-primary" ><a th:href="@{/instructor/listActivities/{nid}(nid=${instructor.nid})}"><font color="white">Ver actividades</font></a></button></td>
		<td><button type="button" class="btn btn-primary" ><a th:href="@{/instructor/createActivity/{nid}(nid=${instructor.nid})}"><font color="white">Crear actividad</font></a></button></td>
		<td><button type="button" class="btn btn-primary" ><a th:href="@{/instructor/show/{nid}(nid=${instructor.nid})}"><font color="white">Ver</font></a></button></td>
    <td><button type="button" class="btn btn-warning" ><a th:href="@{/instructor/modify/{nid}(nid=${instructor.nid})}"><font color="black">Editar</font></a></button></td>
  	<td><button type="button" class="btn btn-danger" ><a th:href="@{/instructor/confirm/{nid}(nid=${instructor.nid})}"><font color="white">Baja</font></a></button> 
    </td>
       </tr>       
     </tbody>
   </table>
   
   
</body>


</html>
