<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar perfil</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
 
<style>
	body{
		background-color: #E0FFFF
	}
	
	h2{
    
    text-align: center; 
    background-color: #1E90FF;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }
     table{
    
    background-color: #87CEFA;
    border-radius: 20px ;
    margin-top:20px;
    margin-bottom: 20px;
    
  }
  td{
    align: left;
    margin-left: 20px;
  }
</style>
</head>
<body>
    <h2>Modifica instructor</h2>
    <form action="#" th:action="@{/instructor/modify/{nid}(nid=${instructor.nid})}"
                     th:object="${instructor}" method="post" enctype="multipart/form-data">
      <table align=center cellpadding="20">
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{nid}" readonly="readonly"/></td>
        </tr>
        
        <tr>
            <td><label>Foto</label></td>
            <td><input type="file" name="file" id="file" /></td>
        </tr>
        
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        
        
        <tr>
        <td align="center"><label>Estado </label></td>
            <td align="center"><select id="state" th:field="*{state}">
            <option th:value="Disponible"> Disponible </option>
            <option th:value="Ocupado"> Ocupado </option>
            </select>
            </td>
            
          
        </tr>
        
       
        <tr>
            <td colspan="2"><input type="submit" value="Modifica monitor" /></td>
        </tr>
      </table>
    </form>
</body>
</html> -->





<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     	layout:decorate="~{fragments/base}">

<head>
   <title>Modificar Perfil</title>
   <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="/instructorView.css/freelancer.min.css" rel="stylesheet">
   <meta charset="UTF-8" />
   
   <style>
	
     table{
    
    background-color: #1ABC9C;
    border-radius: 20px ;
    margin-top:20px;
    margin-bottom: 20px;
    
  }
  td{
    align: left;
    margin-left: 20px;
  }
  
  .box {
        height: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box>* {
        flex: 1 1 100px;
    }
  
</style>
</head>
<body id="page-top">
<div layout:fragment="content" align="right">	
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/instructor/view">Toopots</a>
     
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
   
      </div>
    </div>
  </nav>
  

	
	<!-- Portfolio Section -->
  <section class="page-section portfolio" id="portfolio">
    <div class="container">

 <br> <br>
      <!-- Portfolio Section Heading -->
     
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Modifica tu Perfil</h2>
	
      </div>
      </section>
      <br>
      <br>
 
			
	<form action="#" th:action="@{/instructor/modify/{nid}(nid=${instructor.nid})}"
                     th:object="${instructor}" method="post" enctype="multipart/form-data">
			
		<table class="table table-striped" align=center cellpadding="30" style="width:80%; background-color: #1ABC9C;border-radius:20px ;margin-top:20px;margin-bottom:20px;" >
      
      
            <tr>
            		<td class="lead text-white text-center" align="center"><label>DNI</label></td>
            		<td class="lead text-white text-center" align="center"><input type="text" th:field="*{nid}" readonly="readonly" /></td>
            		<td th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}" class="error"/></td>
        	</tr>
        	
        	<!-- <tr>
            		<td class="lead text-white text-center" align="center"><label>Fecha de aceptación</label></td>
            		<td class="lead text-white text-center" align="center"><input type="text" th:field="*${#temporals.format(instructor.acceptanceDate,'dd/MM/yyyy')}" readonly="readonly" /></td>
            		<td th:if="${#fields.hasErrors('nid')}" th:errors="*{nid}" class="error"/></td>
        	</tr> -->
        	
        	<tr>
            	<td class="lead text-white text-center" align="center"><label>Nombre</label></td>
            	<td class="lead text-white text-center" align="center"><input type="text" th:field="*{name}" /></td>
            	<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"/></td>
        	</tr>
     
        	
        	<tr>
	        	<td class="lead text-white text-center" align="center"><label>Estado </label></td>
	            <td class="lead " align="center"><select id="state" th:field="*{state}">
	            <option  class="lead t"th:value="Disponible"> Disponible </option>
	            <option class="lead " th:value="Ocupado"> Ocupado </option>
	            </select>
	            </td>
       		 </tr>
       		 
       		 <tr>
            	<td class="lead text-white text-center" align="center"><label>Foto</label></td>
            	<td  class="lead text-white text-center" align="center"><input type="file" name="file" id="file"/></td>
        	</tr>
       

     
     
     	<tr>
          <td align="center" colspan="2" >
          	<a><button type="submit" value="Enviar petición" class="btn btn-xl btn-outline-light">
         	<font color="white">Modificar Perfil</font></a></button>
         	<br><br>
         </td>
         </tr>

       
      </table>
      
      <br>
      <br>
      <br>
    </form>
    <!-- Footer -->
  <footer class="footer text-center" id="page-top">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Ubicación</h4>
          <p class="lead mb-0">Avda. Valencia, 53 
            <br>12540 Castellón, España</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Redes Sociales</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-twitter"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-linkedin-in"></i>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <i class="fab fa-fw fa-dribbble"></i>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Información de Contacto</h4>
          <p class="lead mb-0">+34 654 34 56 76 <br>
            <a href="http://startbootstrap.com">info@toopots.com</a></p>
            <a href="instructorRequest/add">Trabaja con nosotros</a></p>
            
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; GUPARI 2019</small>
    </div>
  </section>
      
</div>
</body>
</html>



        