<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Modificar un nadador</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
 
<style>
	body{
		background-color: #E0FFFF
	}
	
	h2{
    
    text-align: center; 
    background-color: #1E90FF;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    }
     table{
    
    background-color: #87CEFA;
    border-radius: 20px ;
    margin-top:20px;
    margin-bottom: 20px;
    
  }
  td{
    align: left;
    margin-left: 20px;
  }
</style>
</head>
<body>
    <h2>Modifica instructor</h2>
    <form action="#" th:action="@{/instructor/modify/{nid}(nid=${instructor.nid})}"
                     th:object="${instructor}" method="post">
      <table align=center cellpadding="20">
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{nid}" readonly="readonly"/></td>
        </tr>
        
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        
        <tr>
            <td><label>Estado</label></td>
            <td><input type="text" th:field="*{state}" /></td>
        </tr>
        
       
        <tr>
            <td colspan="2"><input type="submit" value="Modifica monitor" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
        
