<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <style>

 
  h1{
  	text-align: center; 
    background-color: #1E90FF;
    width: 100%;
    border-radius: 20px;
    }

  table{
    background-color: #87CEFA;
    border-radius: 20px ;
    margin-top:20px;
    margin-bottom: 20px;
  }
  title{
  margin-bottom: 20px
  }
  div{
  backround-color: #87CEFA
  }
    
  </style>
<head>
   <title>Informació de monitors</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>

	<div>
    <h1>Informació del monitor</h1>
    <center><img th:src="@{/fotos/{profileImage}(profileImage=${instructor.profileImage})}" align="middle">
    </center>
    <table style="width:40%" align=center>
      <thead align="center">
      <tr>
	<th colspan=2 rowspan=2>Información personal</th>
      </tr>
    </thead>
      
      <tbody >
	<tr>
	  <td align="center">DNI:</td>
	  <td th:text="${instructor.nid}" align="center"></td>
	</tr> 
	
	<tr>
	  <td align="center">Nombre:</td>
	  <td th:text="${instructor.name}" align="center"></td>

	</tr>  
	
	<tr>
	  <td align="center">Fecha aceptacion:</td>
	  <td th:text="${instructor.acceptanceDate}" align="center"></td>
	</tr>      
      </tbody>
    </table>
    
	</div>
  </body>


  </html>
