<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Informació de monitors</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"     
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>

   <h1>Informació del monitor</h1>
   <center><img th:src="@{/fotos/{profileImage}(profileImage=${instructor.profileImage})}" align="middle">
   </center>
   <table style="width:100%" border=1>
     <thead align="center">
    <tr>
      <th colspan=2>Información personal</th>
    </tr>
  </thead>
     
     <tbody >
       <tr>
       	<td width=50% align="right">DNI:</td>
        <td th:text="${instructor.nid}" width=50% align="left"></td>
       </tr> 
       
       <tr>
       	<td width=50% align="right">Nombre:</td>
        <td th:text="${instructor.name}" width=50% align="left"></td>

       </tr>       
     </tbody>
   </table>

</body>


</html>
